<div class="container">
  <div class="header-actions">
    <button mat-raised-button color="primary" (click)="goToHome()">
      <mat-icon>arrow_back</mat-icon>
      Volver al inicio
    </button>
  </div>

  @if (repositories().username) {
  <h1>Repositorios de {{ repositories().username }}</h1>
  }

  <!-- Parámetros de consulta -->
  @if (!isLoading() && repositories().repositories.length) {
  <div class="query-controls">
    <div class="filters-row">
      <mat-form-field appearance="outline">
        <mat-label>Ordenar por</mat-label>
        <mat-select
          [value]="queryParams().sort"
          (selectionChange)="changeSort($event.value)"
        >
          @for (option of sortOptions; track option.value) {
          <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Orden</mat-label>
        <mat-select
          [value]="queryParams().direction"
          (selectionChange)="changeOrder($event.value)"
        >
          @for (option of orderOptions; track option.value) {
          <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Resultados por página</mat-label>
        <mat-select
          [value]="queryParams().per_page"
          (selectionChange)="changePerPage($event.value)"
        >
          @for (option of perPageOptions; track $index) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  } @if (isLoading()) {
  <div class="loading-spinner">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Cargando repositorios...</p>
  </div>
  } @if (!isLoading() && repositories().repositories.length) {
  <div class="repositories-container">
    @for (repo of repositories().repositories; track $index) {
    <app-repository-card [repository]="repo" />
    }
  </div>

  @if (!isLoading() && repositories().repositories.length) {
  <app-paginator
    [currentPage]="queryParams().page"
    [hasNextPage]="hasNextPage()"
    (pageChange)="handlePageChange($event)"
  >
  </app-paginator>
  } } @if (!isLoading() && !repositories().repositories.length) {
  <div class="no-repos">
    <mat-icon>sentiment_dissatisfied</mat-icon>
    <p>No se encontraron repositorios para este usuario.</p>
  </div>
  }

  <div class="footer">
    <p>
      Desarrollado por
      <a
        href="https://github.com/MrNizzy"
        target="_blank"
        rel="noopener noreferrer"
        >MrNizzy</a
      >
      con ❤️ amor y café ☕
    </p>
    <p></p>
  </div>
</div>
