// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "./normalice.css";
@use "./themes/theme-colors" as theme;
@use "@angular/material" as mat;

html {
  color-scheme: light dark; // Simplemente especificamos al navegador que usaremos tanto el tema claro como oscuro con la misma configuración
  @include mat.theme(
    (
      color: theme.$primary-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: #ffffff;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.171) 2px,
      transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
}
